html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  /*---unable select option---*/
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.grid4x4 {
  font-size: 44px;
}

.grid4x4 {
  font-size: 44px;
}

/*---BUTTONS---*/
.button {
  color: white;
  border-radius: 3em;
  height: 52px;
  background: #BCCED9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button:hover {
  background: #6395B8;
}

.buttonLittle {
  width: 119px;
}

.buttonBig {
  width: 256px;
}

.button--active {
  background: #304859;
}

.startButton {
  background: #FDA214;
  width: 100%;
}

.startButton:hover {
  background: #FFB84A;
}

.primaryButton {
  background: #FDA214;
  width: 127px;
}

.primaryButton:hover {
  background: #FFB84A;
}

.secondaryButton {
  background: #DFE7EC;
  color: #304859;
  width: 127px;
}

.secondaryButton:hover {
  background: #6395B8;
  color: white;
}

.App {
  height: 100%;
}

.numberDefaultCSS {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 44px;
  font-weight: 900;
  cursor: pointer;
}

.hiddenNumber {
  background: #304859;
  color: #304859;
}

.discoveredNumber {
  background: #BCCED9;
  color: white;
}

.waitingNumber {
  background: #FDA214;
  color: white;
}

/*---setParameters---*/
.setParameters {
  background: #152938;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setParameters__sub {
  width: 654px;
  height: 687px;
}

.paramWin {
  width: 100%;
  height: 559px;
  background: white;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.paramWin__inner {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paramWin__section {
  height: 93px;
  margin-bottom: 32px;
}

.paramWin__section__title {
  text-align: left;
  color: #7191A5;
}

.paramWin__section__title__p {
  margin: 0 0 21px 0;
}

.paramWin__section__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*-----Menu----*/
.Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  width: 80%;
  margin: 67px auto 0 auto;
}

.Menu__memory {
  margin: 0;
  font-size: 33px;
}

.Menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
}

.Menu__buttons__MenuButton {
  display: none;
}

/*---Grid---*/
.griddiv {
  display: -ms-grid;
  display: grid;
  width: 572px;
  height: 572px;
  margin: 67px auto;
}

.griddiv__template4 {
  -ms-grid-rows: (25%)[4];
  -ms-grid-columns: (25%)[4];
      grid-template: repeat(4, 25%)/repeat(4, 25%);
}

.griddiv__template6 {
  -ms-grid-rows: (16%)[6];
  -ms-grid-columns: (16%)[6];
      grid-template: repeat(6, 16%)/repeat(6, 16%);
}

.numberDefaultCSS {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 44px;
  font-weight: 900;
  cursor: pointer;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.hiddenNumber {
  background: #304859;
  color: #304859;
}

.discoveredNumber {
  background: #BCCED9;
  color: white;
}

.waitingNumber {
  background: #FDA214;
  color: white;
}

/*------*/
.DisplayMenu__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #304859;
  opacity: 0.5;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DisplayMenu__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 224px;
  width: 327px;
  background: white;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.5em;
}

.Box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 72px;
  color: #7191A5;
  background: #DFE7EC;
  border-radius: 0.5em;
  padding: 20px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
}

.Box.yellowBox {
  background: #FFB84A;
}

.Box__rightVal {
  color: #304859;
}

.Box__leftValMin {
  display: none;
}

.Box__triangle {
  width: 63px;
  height: 63px;
  background: #FFB84A;
  position: absolute;
  -webkit-transform: translate(50%, -30%) rotate(45deg);
          transform: translate(50%, -30%) rotate(45deg);
  z-index: -1;
}

.Box__currentTurn {
  position: absolute;
  font-size: 13px;
  -webkit-transform: translate(30px, 50px);
          transform: translate(30px, 50px);
  letter-spacing: .4rem;
  color: #152938;
}

.PointsCountMono__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 540px;
  margin: 0 auto;
}

.PointsCountMulti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  max-width: 1100px;
  gap: 1%;
}

.Background {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Finish {
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 654px;
  color: black;
  z-index: 3;
  border-radius: 0.5em;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Finish__title {
  text-align: center;
}

.Finish__infos__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background: #DFE7EC;
  border-radius: 0.5em;
  margin-bottom: 20px;
  height: 72px;
}

.Finish__infos__info.winner {
  background: #152938;
  color: white !important;
}

.Finish__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grey {
  color: #7191A5;
}

/*********************/
@media (max-width: 950px) {
  .Box__currentTurn {
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .setParameters__sub {
    width: 327px;
  }
  .setParameters__sub h1 {
    font-size: 32px;
  }
  .paramWin {
    height: 386px;
  }
  .paramWin__inner {
    width: 279px;
    height: 338px;
  }
  .paramWin__section {
    margin-bottom: 24px;
  }
  .paramWin__section__title {
    font-size: 15px;
  }
  .paramWin__section__title__p {
    margin: 0 0 11px 0;
  }
  .paramWin__section__buttons {
    gap: 3%;
  }
  .Menu__buttons .Menu__buttons__NewGameButton, .Menu__buttons .Menu__buttons__RestartButton {
    display: none;
  }
  .Menu__buttons__MenuButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 78px;
  }
  .button {
    height: 40px;
    font-size: 16px;
  }
  .griddiv {
    width: 327px;
    height: 327px;
  }
  .griddiv svg {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 600px) {
  .Menu {
    width: 90%;
  }
  .PointsCountMono__boxes {
    width: 100%;
  }
  .Box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
  }
  .Box__triangle {
    width: 40px;
    height: 40px;
  }
  .Box__leftVal {
    display: none;
  }
  .Box__leftValMin {
    display: block;
  }
  .Box__rightVal {
    font-size: 30px;
  }
  .Box .time p {
    margin: 0;
    font-size: 35px;
  }
}
/*# sourceMappingURL=index.css.map */