html, body ,#root{
  height:100%;
}
body {
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:18px;
  /*---unable select option---*/
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-weight:bold;
}
h1{
  font-size:48px;
}
h2{
  font-size:32px;
}
h3{
  font-size:20px;
}

.grid4x4{
  font-size:44px;
}
.grid4x4{
  font-size:44px;
}
   /*---BUTTONS---*/
.button{
  color:white;
  border-radius:3em;
  height:52px;
  background:#BCCED9;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer; 
  &:hover{
    background:#6395B8;
  }
}

.buttonLittle{
  width:119px;
}

.buttonBig{
  width:256px;
}

.button--active{
  background:#304859;
}

.startButton{
  background:#FDA214;
  width:100%;
  &:hover{
    background:#FFB84A;
  }
}

.primaryButton{
  background:#FDA214;
  width:127px;
  &:hover{
    background:#FFB84A;
  }
}

.secondaryButton{
  background:#DFE7EC;
  color:#304859;
  width:127px;
  &:hover{
    background:#6395B8;
    color:white;
  }
}




.App{
  height:100%;
}

.numberDefaultCSS{
  width:80%;
  height:80%;
  border-radius:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:44px;
  font-weight:900;
  cursor:pointer;
}

.hiddenNumber{
  background:#304859;
  color:#304859;
}

.discoveredNumber{
  background:#BCCED9;
  color:white;
}

.waitingNumber{
  background:#FDA214;
  color:white;
}

/*---setParameters---*/




.setParameters{
  background:#152938;
  height:100%;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  &__sub{
    width:654px;
    height:687px;
  }

}

.paramWin{
  width:100%;
  height:559px;
  background:rgb(255, 255, 255);
  border-radius:0.5em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  &__inner{
    width:80%;
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__section{
    height:93px;
    margin-bottom:32px;
    
    &__title{
      text-align: left;
      color:#7191A5;
      &__p{
        margin:0 0 21px 0;
      }
    }

    &__buttons{
      display:flex;
      justify-content:space-between;
      align-items:center;
      &__button{

      }
    }
  }
}

/*-----Menu----*/
.Menu{
  display:flex;
  justify-content:space-between;
  max-width:1100px;
  min-width:550px;
  width:80%;
  margin:67px auto 0 auto;
  &__memory{
    margin:0;
    font-size:33px;
  }
  &__buttons{
    display:flex;
    gap:2%;
    &__MenuButton{
      display:none;
    }
  }
}

/*---Grid---*/

.griddiv{
  display: grid;
  width: 572px;
  height: 572px;
  margin: 67px auto;
  &__template4{
    grid-template:repeat(4,25%)/repeat(4,25%);
  }
  &__template6{
    grid-template: repeat(6,16%)/repeat(6,16%);
  }
}

.numberDefaultCSS{
  width:80%;
  height:80%;
  border-radius:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:44px;
  font-weight:900;
  cursor:pointer;
  justify-self:center;
  align-self:center;
}

.hiddenNumber{
  background:#304859;
  color:#304859;
}
.discoveredNumber{
  background:#BCCED9;
  color:white;
}
.waitingNumber{
  background:#FDA214;
  color:white;
}


.DisplayMenu{
  &__background{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#304859;
    opacity:0.5;
    z-index:5;
    display:flex;
    justify-content: center;
    align-items:center;
  }
  &__menu{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:224px;
    width:327px;
    background:white;
    z-index:6;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    border-radius:0.5em;
  }
}

.Box{
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items:center;
  width:255px;
  height:72px;
  color:#7191A5;
  background:#DFE7EC;
  border-radius:0.5em;
  padding:20px 15px;
  box-sizing:border-box;
  margin-bottom:40px;
  &.yellowBox{
    background:#FFB84A;
  }
  &__rightVal{
    color:#304859;
  }
  &__triangle{
    width:63px;
    height:63px;
    background:#FFB84A;
    position:absolute;
    transform: translate(85px,-30px) rotate(45deg);
    z-index:-1;
  }
  &__currentTurn{
    position:absolute;
    font-size:13px;
    transform: translate(30px,50px);
    letter-spacing:.4rem;
    color:#152938;
  }
}

.PointsCountMono{
  &__boxes{
    display:flex;
    justify-content:space-between;
    width:540px;
    margin:0 auto;
  }
}

.PointsCountMulti{
  display:flex;
  justify-content:space-around;
  margin: 0 auto;
  max-width:1100px;

}


.Background{
  position:absolute;
  z-index:2;
  opacity:0.5;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
}

.Finish{
  position:absolute;
  background:white;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:654px;
  color:black;
  z-index:3;
  border-radius:0.5em;
  padding:50px;
  box-sizing:border-box;
  &__title{
    text-align: center;
    & p{
      
    }
  }
  &__infos{
    
    &__info{
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:0 20px;
      background:#DFE7EC;
      border-radius:0.5em;
      margin-bottom:20px;
      height:72px;
      &.winner{
        background:#152938;
        color:white !important;
      }
    }
  }
  &__buttons{
    display:flex;
    justify-content: space-around;
  }
}

.grey{
  color:#7191A5;
}  

/****************************/

@media(max-width:700px){
  .setParameters{
    &__sub{
      width:327px;
      & h1{
        font-size:32px;
      }
    }
  }
  .paramWin{
    height:386px;
    &__inner{
      width:279px;
      height:338px;
    }
    &__section{
      margin-bottom:24px;
      &__title{
        font-size:15px;
        &__p{
          margin:0 0 11px 0;
        }
      }
      &__buttons{
        gap:3%;
      }
    }
  }
  .Menu__buttons .Menu__buttons__NewGameButton, .Menu__buttons .Menu__buttons__RestartButton{
    display:none;
  }
  .Menu__buttons__MenuButton{
    display:flex;
    width:78px;
  }
  .button{
    height:40px;
    font-size:16px;
  }
}